body
{
    background-color: plum;
    color:mediumorchid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-primary:hover
{
    background-color: darkorchid;
}


.btn-info:hover
{
    background-color: orchid;
}

h1
{
    color:rgb(168, 43, 226);
    background-color:rgb(254, 205, 254)
}

#show_sketch
{
    float:right;
}

canvas
{
    border: 5px solid white;
    border-radius:20px;
    animation-name:example;
    animation-duration:4s;
    margin-top:130px;
    animation-iteration-count:infinite;
}

@keyframes example
{
    from{box-shadow: 1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px white;}
}

p
{
    padding-top:10px;
    font-size:25px;
}

body
{
    text-align:center;
}